@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

svg path {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit;
}

* {
  @apply transition-all duration-300;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.navbar-link {
  @apply mr-[2.25rem] relative active:scale-75;
}
.navbar-link::after {
  content: "";
  @apply block w-0 h-[2px] bg-black absolute bottom-0 left-0
    transition-all duration-500;
}
.navbar-link:hover::after {
  @apply w-full;
}

.statistics h2 {
  @apply text-4xl font-black;
}
.statistics p {
  @apply flex font-normal ml-4 items-center after:bg-[#FF3F3A] after:w-[8px] after:h-[8px] after:ml-14 after:block after:rounded-[50%];
}

.whoWeAre-list li {
  list-style-image: url(/public/images/homepage/whoWeAre/check.svg);
  @apply mb-4;
}

.benefits-list li:not(:first-child) {
  @apply w-1/4 text-center text-[gray];
}

.benefits-list li::before {
  margin-right: 1rem;
}

.benefits-list li:nth-child(1)::before {
  content: url(/public/images/homepage/benefits/star.svg);
}
.benefits-list li:nth-child(2)::before {
  content: url(/public/images/homepage/benefits/like.svg);
}
.benefits-list li:nth-child(3)::before {
  content: url(/public/images/homepage/benefits/chat.svg);
}
.benefits-list li:nth-child(4)::before {
  content: url(/public/images/homepage/benefits/layers.svg);
}

.team {
  z-index: 100;
}
.team .img {
  background: url(/public/images/homepage/team/background-team.png);
  z-index: 100;
}

.team .bg {
  background: url(/public/images/homepage/team/gradient-team.png);
  animation: fade 0.5s linear;
}
.team ul {
  animation: fade 0.5s linear;
}
.team svg {
  fill: white;
  transition: none;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.team .img:hover .bg,
.team .img:hover ul {
  display: flex;
}

.team ul li:hover svg {
  fill: black;
}

button:hover svg {
  fill: #fff;
}

.testimonials .wrapper::before {
  content: url(/public/images/homepage/testimonials/braces.png);
  margin-right: 2rem;
  position: absolute;
  top: 0;
  left: -7%;
}

.dot.active {
  background: #424551;
}

footer .links a:hover {
  @apply underline;
}

.signUp input {
  background-color: rgba(255, 255, 255, 0.12);
}

.post-link::after {
  content: url(/public/images/homepage/blog/line.svg);
  margin-left: 1rem;
}

.date-details::before {
  content: url(/public/images/homepage/blog/calendar-details.svg);
  position: absolute;
  top: 0.1rem;
  left: -1.5rem;
}
.duration-details::before {
  content: url(/public/images/homepage/blog/clock-details.svg);
  position: absolute;
  top: 0.1rem;
  left: -1.5rem;
}

.social-media li:hover svg path {
  fill: white;
}

.contact-phone::before {
  content: url(/public/images/homepage/footer/iphone-contact.svg);
  margin-right: 5px;
}
.contact-mail::before {
  content: url(/public/images/homepage/footer/mail-contact.svg);
  margin-right: 5px;
}
