@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-all duration-300;
}

html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  font-weight: 700;
}

svg path {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit;
}

.navbar-link {
  @apply relative active:scale-75;
}

.navbar-link::after {
  content: "";
  @apply block w-0 h-[2px] bg-black absolute bottom-0 left-0
    transition-all duration-500;
}
.navbar-link:hover::after {
  @apply w-full;
}

.statistics h2 {
  @apply text-4xl font-black;
}
.statistics p {
  @apply flex font-normal ml-4 items-center after:bg-[#FF3F3A] after:w-[8px] after:h-[8px] after:ml-14 after:block after:rounded-[50%];
}

.whoWeAre-list li {
  list-style-image: url(/public/images/homepage/whoWeAre/check.svg);
  @apply mb-4;
}

.benefits-list li:not(:first-child) {
  @apply text-center text-[gray];
}

.benefits-list li::before {
  margin-right: 1rem;
}

.team {
  z-index: 100;
}
.team .img {
  background: url(/public/images/homepage/team/background-team.png);
  z-index: 100;
}

.team .bg {
  background: url(/public/images/homepage/team/gradient-team.png);
  animation: fade 0.5s linear;
}
.team ul {
  animation: fade 0.5s linear;
}
.team svg {
  fill: white;
  transition: none;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.team .img:hover .bg,
.team .img:hover ul {
  display: flex;
}

.team ul li:hover svg {
  fill: black;
}

button:hover svg {
  fill: #fff;
}

.dot.active {
  background: #424551;
}

footer .links a:hover {
  @apply underline;
}

.signUp input {
  background-color: rgba(255, 255, 255, 0.12);
}

.social-media li:hover svg path {
  fill: white;
}
