@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-all duration-300;
}

.shadow-small {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}
.shadow-regular {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16),
    0px 30px 24px -10px rgba(154, 156, 165, 0.1),
    0px 12px 10px -6px rgba(154, 156, 165, 0.08),
    0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}
.shadow-large {
  box-shadow: 0px 60px 80px -20px rgba(30, 33, 44, 0.16),
    0px 26px 24px -10px rgba(30, 33, 44, 0.1),
    0px 12px 10px -6px rgba(30, 33, 44, 0.08),
    0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}

img {
  object-fit: cover;
}

html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  scroll-behavior: smooth;
}

svg path {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit;
}

.navbar-link {
  @apply relative active:scale-75;
}

.navbar-link::after {
  content: "";
  @apply block w-0 h-[2px] bg-black absolute bottom-0 left-0
    transition-all duration-500;
}
.navbar-link:hover::after {
  @apply w-full;
}

.navbar-link a.active::after {
  content: "";

  @apply block w-full h-[2px] bg-black absolute bottom-0 left-0
    transition-all duration-500;
}

.statistics li {
  @apply flex items-center;
}

.statistics span {
  @apply text-4xl font-black;
}
.statistics p {
  @apply flex font-normal ml-4 items-center after:bg-[#FF3F3A] after:w-[8px] after:h-[8px] after:ml-14 after:block after:rounded-[50%];
}

.statistics-about span {
  @apply text-[#FF3F3A];
}
.statistics-about p {
  @apply after:content-none;
}

.whoWeAre-list li,
.aboutCourse-list li,
.forWhom-list {
  list-style-image: url("/public/images/homepage/whoWeAre/check.svg");
  @apply mb-4;
}

.benefits-list li:not(:first-child) {
  @apply text-center text-[gray];
}

.benefits-list li::before {
  margin-right: 1rem;
}

.team {
  z-index: 100;
}
.team .img {
  background: url("/public/images/homepage/team/background-team.png");
  z-index: 100;
}

.team .bg {
  transition: height 0.3s;
  background: linear-gradient(
    180deg,
    rgba(30, 33, 44, 0) 43.9%,
    rgba(30, 33, 44, 0.03) 55.21%,
    rgba(30, 33, 44, 0.33) 68.73%,
    rgba(30, 33, 44, 0.56) 76.17%,
    rgba(30, 33, 44, 0.768225) 83.75%,
    rgba(30, 33, 44, 0.92) 91.49%,
    #1e212c 100%
  );
  border-radius: 4px;
  /* background: url("/public/images/homepage/team/gradient-team.png"); */
  animation: fade 0.5s linear;
}
.team ul {
  animation: fade 0.5s linear;
}
.team svg {
  fill: white;
  transition: none;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.team .img:hover .bg {
  height: 100%;
}
.team .img:hover ul {
  display: flex;
}

.team ul li:hover svg {
  fill: gray;
}

button:hover svg {
  fill: #fff;
}

.dot:hover {
  background: #424551;
}
.dot.active {
  background: #424551;
}

footer .links a:hover,
footer .courses a:hover {
  @apply underline;
}

.signUp input {
  background-color: rgba(255, 255, 255, 0.12);
}

.social-media.white li svg path {
  fill: gray;
}
.social-media.white li:hover svg path {
  fill: white;
}

.social-media.black li svg path,
.socialMedia svg path {
  fill: black;
}
.social-media.black li:hover svg path,
.socialMedia a:hover svg path {
  fill: gray;
}

/* bug with youtube svg */
.social-media li.youtube svg path {
  fill: rgb(100, 99, 99);
}

.cores-item {
  @apply flex flex-col items-center text-center;
}
.cores-item h3 {
  @apply text-xl mt-5 mb-2;
}
.cores-item p {
  @apply opacity-50;
}

.process {
  padding-left: 2rem;
  border-left: 3px solid rgba(66, 69, 81, 0.3);
}
.process .step {
  @apply relative pb-8 before:w-[10px] before:h-[10px] before:rounded-[50%] before:bg-red-600 before:block before:absolute before:top-0 before:left-[-2.35rem];
}
.process .step h3 {
  @apply mt-1 mb-2 text-xl;
}
.process .step h4 {
  @apply uppercase opacity-60 text-sm;
}
.process .step p {
  @apply opacity-50;
}

.filters-list li {
  @apply px-6 py-1 opacity-50;
}
.filters-list li.active {
  @apply border-2 rounded opacity-100 border-[#FF3F3A] text-[#FF3F3A];
}

.sort li {
  @apply transition-none opacity-50 px-4 py-2;
  list-style: none;
}
.sort li.active {
  @apply opacity-100 border-2 rounded-md border-[#FF3F3A]  text-[#FF3F3A];
}

.posts-list {
  @apply lg:grid grid-cols-3 grid-rows-3 gap-8;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
}
.div4 {
  grid-area: 2 / 1 / 3 / 3;
}
.div5 {
  grid-area: 2 / 3 / 3 / 4;
}
.div6 {
  grid-area: 3 / 1 / 4 / 2;
}
.div7 {
  grid-area: 3 / 2 / 4 / 3;
}
.div8 {
  grid-area: 3 / 3 / 4 / 4;
}

.contacts-list li {
  margin-bottom: 1.5rem;
}

.contacts-list li h3 {
  @apply text-sm opacity-50;
}

.contacts-form label {
  @apply font-normal;
}
.contacts-form input,
.contacts-form textarea {
  @apply font-bold mr-4 mt-4 border bg-white transition-none rounded px-4 py-3 outline-none focus:border focus:border-[#979797];
}

.select {
  font-size: 16px;
  color: #444;
  line-height: 1.3;

  margin: 0;
  padding: 0.5rem 3rem 0.5rem 1rem;

  box-sizing: border-box;
  border-radius: 0.5em;
  border: 1px solid #d7dadd;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  background-color: #fff;
  background-image: url("/public/images/eventsPage/arrow.svg");
  background-repeat: no-repeat, repeat;
  background-position: right 0.75em top 60%, 0 0;
  background-size: 1rem auto, 100%;
}

.view button:hover svg path {
  fill: red;
}
.view button.active svg path {
  fill: red;
}
.lesson.open .text {
  @apply block h-auto;
  transition: height 1s;
}

.register-input {
  @apply rounded-sm max-w-none border w-full border-gray-400 outline-none px-2 py-3 2xl:px-4 2xl:py-3 text-gray-600 min-w-[250px] focus:border-[black] hover:border-[black];
}

/* Select */

.select::-ms-expand {
  display: none;
}
.select:hover {
  border-color: rgb(70, 68, 68);
}
.select:focus {
  border-color: rgb(87, 86, 86);
  color: #222;
  outline: none;
}
.select option {
  font-weight: normal;
}

.perPage {
  outline: none;
  border-radius: 5px;
  border: 1px solid #d7dadd;
}

/* Scrollbar- */
@media (min-width: 1000px) {
  html,
  body {
    scrollbar-color: #ebeef1 #9a9a9a;
    scrollbar-width: auto;
  }
  ::-webkit-scrollbar {
    width: 14px;
    height: 4px;
    background-color: #ebeef1;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #9a9a9a;
    border-radius: 10px;
    /* box-shadow: inset 1px 1px 10px #f3faf7; */
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #000000;
  }
}

/* Modal */

.wrapper.open {
  @apply fixed z-50 top-0 left-0 min-h-screen min-w-full;
  background: rgba(0, 0, 0, 0.5);
  animation: alertAnim 0.5s;
}

.modal.open {
  animation: modalAnim 0.5s;

  display: block;
}
.modal.close {
  display: none;
}

.circle-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.circle-btn.left {
  left: -1rem;
}
.circle-btn.right {
  right: -1rem;
}

.ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.3em;
  height: 3.9em;
}

.search-div {
  @apply relative after:content-[url(/public/images/coursesPage/search.svg)] hover:after:opacity-100 after:block after:w-6 after:h-full after:absolute after:top-[.5rem] after:right-[1rem] after:opacity-50;
}
.search-input {
  @apply border-2 px-4 py-2 rounded min-w-[300px] hover:shadow hover:border-gray-500;
}

/* alert */

.alert {
  animation: alertAnim 0.5s;
}

@keyframes modalAnim {
  0% {
    opacity: 0;
    top: -5%;
  }
  100% {
    opacity: 1;
    top: 5%;
  }
}

@keyframes alertAnim {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
